// color variables from style guide
$wm-dark-blue: #041e42;
$wm-blue: #006697;
$wm-light-blue: #e2f3f7;
$wm-green: #2a8703;
$wm-lemon: #dde7a0;
$wm-purple: #63327e;
$wm-yellow: #ffc220;
$wm-grey: #6d6e71;
$wm-light-grey: #e6e7e8;
$wm-white: #f6f6f6;